@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow:#0dc54a;
}




body{
    background:rgb(39, 43, 41);
    overflow-x: hidden;
   
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
    .logo img{
    width: 42%;
    border: 3px solid rgb(208, 223, 9);
    border-radius:100px;
    }
    
    
    .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    }
    
    
    .background{
   
    background-blend-mode: darken;
    }
    
    
    .nav-list{
    width: 80%;
    display: flex;
    align-items: center;
    }
    
    
    .nav-list li{
    list-style: none;
    padding: 31px 34px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    
    .nav-list li a{
    text-decoration: none;
    color: white;
    }
    
    
    .nav-list li a:hover{

        background-color: rgb(23, 211, 101);
    }
    

.btn{
    padding:.7rem 3rem;
    background:rgb(175, 45, 45);
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    float: center;
}

.btn i{
    padding:0 .5rem;
    font-size: 2rem;
}

.btn:hover{
    background: rgb(208, 223, 9);
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 30px;
    color:#fff;
}

.home h1{
    font-size:2rem;
    color:#fff;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
    font-family: fantasy;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}



.imageGrid {
    line-height: 0;
    padding: 100px;
  }
  .imageGrid .tile {
    width:33.33%;
    min-height:20em;
    line-height: 1.2;
    display:inline-block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    
    color:rgb(212, 17, 17);
    font-family:"Verdana",sans-serif;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer; 
    cursor: hand;
  }
  
  .imageGrid .tile:before {
    content: '';
    background-color: rgba(15,15,15,0.5);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
  }
  
  .imageGrid .tile:hover:before {
    display: none;
  }
  
  .imageGrid .tile .textWrapper {
    text-align: center;
    vertical-align: middle;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color:yellow;
    background-color: tomato;
  }
  
  .imageGrid .tile .textWrapper .content {
    display: none;
    font-size: 15px;
    color: rgb(250, 250, 246);
    background-color: rgb(1, 14, 12);
  }
  
  .imageGrid .tile:hover .textWrapper .content {
    display: block;
  }
  
  .imageGrid .tile:hover .textWrapper .content h2 {
    margin: 0;
  }


  .h h1{
      font-size: 100px;
      color:tomato;
      margin-left: 500px;
      padding: 30px;
      
  }
  

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.contact h1{
    font-size: 100px;
    color: tomato;
    margin-left: 300px;
}
.contact .row .content{
    flex:1 1 20rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 30rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:rgba(12, 212, 202, 0.2);
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 25px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 15px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 4em;
    color: white;
  }
  
  
  



/* media queries  */

@media (max-width:1200px){

    html{
        font-size:70%;
    }

    .home{
        padding:1rem 5rem;
    }
    .contact h1{
        font-size: 50px;
        color: rgb(23, 79, 199);
       flex-direction: center;
    }

    .logo img{
        width: 50%;
        border: 3px solid rgb(208, 223, 9);
        border-radius:100px;
        }

        .navbar {
            display: flex;
            align-items: center;
            justify-content: center;
            position: sticky;
            top: 0;
            cursor: pointer;
            }
}


@media (max-width:991px){


   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }
   .contact h1{
    font-size: 40px;
    color: rgb(26, 241, 116);
    flex-direction: center;
}
.logo img{
    width: 100px;
    border: 3px solid rgb(208, 223, 9);
    border-radius:100px;
    }
    .nav-list li a{
        text-decoration: none;
        color: rgb(28, 127, 240);
        flex-direction: center;
        }
        .nav-list li{
            list-style: none;
            padding: 31px 34px;
            font-size: 30px;
            font-family: 'Ubuntu', sans-serif;
            }
}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
    .contact h1{
        font-size: 60px;
        color: rgb(226, 205, 14);
       flex-direction: center;
    }

    .logo img{
        width: 100px;
        border: 3px solid rgb(208, 223, 9);
        border-radius:100px;
        }
        .portfolio h1{
            font-size: 50px;
            color:tomato;
            margin-right: 100px;
        }
 }


@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .contact .row form{
        margin:3rem 0;
    }
    .contact h1{
        font-size: 100px;
        color: rgb(23, 79, 199);
       flex-direction: center;
    }
    .logo img{
        width: 300px;
        border: 3px solid rgb(208, 223, 9);
        border-radius:100px;
        }
        .nav-list li a{
            text-decoration: none;
            color: rgb(201, 13, 13);
            }
            .nav-list li{
                list-style: none;
                padding: 31px 34px;
                font-size: 30px;
                font-family: 'Ubuntu', sans-serif;
                }
                
 }

 @media (max-width: 1000px) {
    .imageGrid .tile {
      width: 50%;
    }
  }
   
  @media (max-width: 700px) {
    .imageGrid .tile {
      width: 100%;
    }
    
  }