* {
  box-sizing: border-box;
  padding: 0;
  margin: 2;
}

body {
  background-color: #d9dcd6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #07488a;
}

h1 {
  font-size: 200%;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  margin-left: 25px;
  list-style-type:none;  
}

nav a {
  color: #f10a1d;
  font-weight: bold;
  text-decoration:solid;
  font-size: xx-large;

  margin-left: 25px;
  border-bottom: solid black;
}

nav a:hover {
  color: #fff;
}
.container {
  position:relative;
  font-family: Arial;
}
.text-block {
  position:absolute;
  margin-top: -120px;
  right: 20px;
  background-color: rgb(196, 39, 39);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -5px;

}

.aboutme {
  background-color: #3d6318;
  color: rgb(29, 1, 1);
  }
  .aboutme h2{
    color-adjust: red;
  }
